.banner-container {
  position: relative;
  width: 100%;
}

.banner-row {
  display: flex;
  gap: 10px;
}

.banner-row,
.scroll-content {
  scrollbar-width: none;
}

.banner-row::-webkit-scrollbar,
.scroll-content::-webkit-scrollbar {
  display: none;
}

.banner-item {
  flex: 0 0 auto;
  width: 50%;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.banner-item img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.banner-btn {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.banner-btn:hover {
  background: var(--background-color);
}

.banner-btn.left {
  left: -20px;
}

.banner-btn.right {
  right: -20px;
}

/* === Category Grid === */
.category-grid {
  margin-top: 25px;
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* luôn 6 cột */
  gap: 15px;
}

@media (max-width: 1400px) {
  .category-grid {
    grid-template-columns: repeat(4, 1fr); /* 4 cột khi màn nhỏ hơn */
  }
}

@media (max-width: 900px) {
  .category-grid {
    grid-template-columns: repeat(2, 1fr); /* 2 cột khi màn nhỏ hơn nữa */
  }
}

.category-card {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  height: 100px;
  cursor: pointer;
  transition: transform 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}

.category-card img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.category-card h3 {
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.category-card:hover {
  transform: scale(1.05);
}
