.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: var(--button);
}

.new-playlist-btn {
  font-size: 14px;
  color: #ec6090;
  background-color: transparent;
  border: 1px solid #ec6090;
  padding: 12px 30px;
  display: inline-block;
  border-radius: 25px;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
}

.new-playlist-btn:hover {
  border-color: #fff;
  background-color: #fff;
  color: #e75e8d;
}

.playlist-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 40px;
  margin-top: 20px;
}

.playlist-card {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
  /* background-color: #ffffff0a; */
}

.playlist-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6);
  background-color: #ffffff29;
}

.playlist-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 12px 12px 0 0;
}

.playlist-title {
  font-size: 1rem;
  margin: 0;
  margin-bottom: 5px;
}

.playlist-count {
  font-size: 0.9rem;
  color: #aaa;
}
