/* .user-popup {
  position: absolute;
  right: 15;
  top: 70px;
  width: 220px;
  background: #292929;
  border-radius: 16px;
  padding: 15px;
  color: white;
  font-size: 13px;
  box-shadow: 0 0 20px rgba(6, 182, 212, 0.4);
  animation: fadeIn 0.15s ease-out;
  z-index: 999;
} */
