/* ===== Sidebar trong Header ===== */
.sidebar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  background: none;
  height: 100%;
}

/* Menu ngang */
.sidebar nav {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

/* Các link trong menu */
.sidebar a {
  display: flex;
  align-items: center;
  color: #333;
  font-weight: 550;
  text-decoration: none;
  padding: 8px 20px;
  border-radius: 6px;
  height: 45px;
  transition: background 0.25s, color 0.25s;
}

.sidebar a i {
  margin-right: 8px;
}

/* Hover và active */
.sidebar a:hover {
  /* color: rgb(108, 176, 191); */
  color: var(--button);
}

.sidebar a.active {
  background: rgba(252, 99, 132, 0.15);
  color: var(--button);
}
