.search-result {
  padding: 12px 20px;
  font-size: 1.05rem;
  transition: 0.15s;
  border-radius: 10px;
  margin: 3px 5px;
}

.search-result:hover {
  background-color: #ffffff29;
  color: white;
  cursor: pointer;
}
