.results-list {
  position: absolute;
  width: 100%;
  color: #bdbdbd;
  background-color: #303030;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  margin-top: 3.5rem;
  max-height: 300px;
  overflow-y: auto;
  flex-direction: column;
  animation: dropDown 0.18s ease-out;
  z-index: 9999;
}

.results-list::-webkit-scrollbar {
  width: 8px;
}

.results-list::-webkit-scrollbar-thumb {
  background: #d1d5db;
  border-radius: 10px;
}

.results-list::-webkit-scrollbar-thumb:hover {
  background: #bfc4cb;
}
