.search-bar-container {
  position: relative;
  width: 40%;
  max-width: 650px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

@keyframes dropDown {
  from {
    opacity: 0;
    transform: translateY(-8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
