.input-wrapper {
  width: 100%;
  border-radius: 40px;
  height: 2.5rem;
  padding: 0 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: 0.15s ease-in-out;
  background-color: #ffffff29;
}

.input-wrapper:hover {
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.12);
}

.input-wrapper input {
  background-color: transparent;
  border: none;
  height: 100%;
  font-size: 1rem;
  width: 100%;
  margin-left: 10px;
  color: white;
}

input:focus {
  outline: none;
  box-shadow: none;
}

#search-icon {
  margin-left: 5px;
  color: white;
  font-size: 1.25rem;
}
